.style-notepage {
  max-width: 68.75rem;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}
.btn-note > a {
  color: var(--component-white-color);
}
.btn-note {
  margin: 1rem 1rem;
  padding: 0.8rem;
}
.note-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  margin-top: 4rem;
}
.note-content-container {
  display: flex;
}
.note-edit-container {
  margin-left: 12rem;
  margin-top: 2rem;
}
.main-page-title {
  margin: 1rem 0 1rem 0;
}
.sort-filter {
  display: flex;
  gap: 2rem;
  position: absolute;
  right: 5rem;
  top: 3rem;
}
