.sort-by-filter {
  position: relative;
  margin-top: 2rem;
}
.filter-title {
  margin-top: 2rem;
  padding: 1rem 2rem;
  width: 12rem;
}
.filter-title:hover {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: var(--component-container-color);
  width: 12rem;
}
.sort-options {
  display: none;
  padding: 7px;
  background-color: var(--component-container-color);
}
.sort-options.display-dropdown {
  display: flex;
  gap: 1.2rem;
}
.sort-option {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.filter-input {
  margin: 0rem 0.5rem 1rem 1.8rem;
}
.clear-filter {
  padding: 0.6rem;
  border-radius: 10px;
  color: var(--component-white-color);
  background-color: var(--component-black-color);
}
