.display-note {
  margin: 0 0 2rem 2rem;
  border-radius: 10px;
  padding: 1rem;
  min-height: 15rem;
  display: flex;
  flex-direction: column;
}
.note-input-container {
  align-items: center;
  background-color: var(--component-container-color);
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: center;
  overflow-wrap: break-word;
}

.note-title {
  height: 1rem;
}
.note-input-container .note-desciption {
  height: 4rem;
  overflow-wrap: break-word;
}
.note-input-container > p {
  word-wrap: break-word;
}
.note-card-bottom-section {
  margin-top: 7rem;
  display: flex;
  margin-left: auto;
}

.color-palette {
  position: absolute;
  font-size: 5rem;
}
.btn-section {
  display: flex;
  gap: 5px;
  border: none;
}
.select-dropdown-label {
  padding: 2px 5px;
  border: 1px solid black;
  border-radius: 10px;
}
.select-dropdown-priority {
  padding: 2px 5px;
  border: 1px solid black;
  border-radius: 10px;
}
.dropdown-section {
  display: flex;
  gap: 1rem;
  margin-right: 3rem;
}
